Exercise 1: Create a Juypter Notebook

Exercise 2: Create a markdown cell with title of the notebook.

# Data Science Tools and Ecosystem

Exercise 3: Create a markdown cell for an introduction.

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Comment on Data Science tools.
- List popular languages for Data Science.
- List commonly used libraries for Data Science.
- Introducing arithmetic expressions.
- To converts minutes to hours.

Exercise 4: Create a markdown cell to list data science languages.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. MATLAB
4. Scala
5. SQL
6. Java
7. Julia

Exercise 5: Create a markdown cell to list data science libraries.

Some of the commonly used libraries used by Data Scientists  include:

1. Pandas
2. TensorFlow
3. NumPy
4. Matplotlib
5. PyTorch
6. Scikit-learn
7. keras

Exercise 6: Create a markdown cell with a table of Data Science tools.

Data Science Tools:

       Data Science Tools
SAS 

Apache Spark

BigML

Exercise 7: Create a markdown cell introducing arithmetic expression examples.

### Below are a few examples of evaluating arithmetic examples in Python

Exercise 8: Create a code cell to multiply and add numbers.

This is a simple arithmetic to multiply and add then integer.

In [10]:
3*4+5
# Results: 17

17

Exercise 9: Create a code cell to convert to hours.

This will convert 200 minutes to hours by dividing by 60

In [11]:
minutes = 200
hours = 60
minutes/hours

3.3333333333333335

Exercise 10: Insert a markdown cell to list Objectives.

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

Exercise 11: Create a markdown cell to indicate the Author's name.

## Author:

Preethi